@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: 0;
    box-sizing: 0;
}

html {
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --background: #F6FAFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;
    --grey-dark: #4D5E77;
    --grey-blue: #A1B2CD;
    --grey-light: #E5EAF1;
    --grey-medium: #eaecf2;
}

:root {
    --font-primary: 'Open Sans', sans-serif;
    /*  --font-secundary: ; */
    --font-action: 'Poppins', sans-serif;
}

body{
    /* background: var(--background); */
    font-family: var(--font-primary);
    background: url("../images/bg_dev.jpg") no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    color: #aeaeae;
}
